.tingle-popup-container .tingle-modal-box__content {
    padding: 0;
}

.tingle-modal--visible .tingle-modal-box {
    transform: unset;
}
/* Make sure there's space for the bullets */
.markdown-docs ul, .markdown-docs ol, .monaco-editor-hover .hover-contents ul, .monaco-editor-hover .hover-contents ol {
    list-style: disc outside none;
    margin: 0 0 9px 25px;
}

.monaco-findInput .wrapper > textarea {
    opacity: 1;
}

/** Workaround for compatibly issue between CodeMirror and monaco */
.AdvancedPropertyEditor property-panel form .panel .twx-collapsible-expanded-true .panel-body > div .panel-col twx-compose code-input > div json-editor .script-control .monaco-editor {
    height: 30rem !important;
  }